/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


nav{
    height: 100px;
}

#menu{
    margin-top: 50px;
}

.loginHeading{
    font-weight: lighter;
}

.mypass{
    margin-bottom: 40px;
}

.login{
    margin: auto;
    margin-top: 40px;
    width: 35%;
}

.loginbtn{
    margin-bottom: 5px;
    width: 30%;
}

.loginfooter{
    margin-bottom: -15px;
}

.lowerfooterleft{
    margin-left: 10px;
}

.lowerfooterright{
    margin-right: 10px;
}

.login_image{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.login_area{
    margin-top: 50px;
}

/*Media Queries*/
/* ----------- Galaxy Tab 10.1 ----------- */

@media (max-width: 800px) {
    .login{
        width: 60%;
    }

     .lowerfooterleft{
    margin-left: 10px;
}

.lowerfooterright{
    margin-right: 10px;
}
    .login_area{
        margin-top: 35px;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media (max-width: 380px) {
  .login{
      width: 100%;
  }

    .lowerfooterleft{
    margin-left: 10px;
}

.lowerfooterright{
    margin-right: 10px;
}

    .login_area{
        margin-top: 20px;
    }
    .brand-logo{
        text-align: center;
    }

}

.left_bar{
    padding-top: -20px;
}

.listed_farms{
    height: 30px;
}

.mynav{
    margin-top: 20px;
    margin-bottom: 20px;
}

.newact{
    margin-bottom: 20px;
}

.myf{
    font-weight: lighter;
}
.showUser{
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    background-color: #2EB82E;
    padding: 5px;
}
.top{
    margin-top: 20px;

}
#farm_lands{
   font-size: 18px; 
   background-color:grey; 
   color: white;
}

#scanbtn{
    width: 80%; 
}
#shopbtn{
    width: 100%;
}
#itemTable{
    margin-left: 10%;
}
#vproduct{
    width: 90%;
    height: 70%;
}
.btnsignup{
    width: 50px;
}

.button-collapse.top-nav {
  position: absolute;
  text-align: center;
  height: 48px;
  width: 48px;
  left: 7.5%;
  top: 0;
  float: none;
  }
  .mylog{
  position: absolute;
  
  }

  .hide{
    display: none;
  }